<!DOCTYPE html>
<html>
<head>
    <title>BI统计主页</title>
</head>
<body style="text-align: center; background-color: #dcdcdc">
    <div style="margin: 50px auto">
        用户名：<span style="font-weight: bold; font-family: '微软雅黑', 'Segoe UI', san-serif; color: #ff0000">{{ manager }}</span>
        公司代号：<span style="font-weight: bold; font-family: Arial, Helvetica, sans-serif; color: #ff0000; margin-right: 50px">{{ company_id }}</span>
        <a href="/bi_exit" style="color: #8b4513">退出</a><br><br>
    </div>
    <div style="margin: 100px auto">
        <a href="" style="color: #0000ff; font-weight: bold">销售分析</a>
        <a href="" style="color: #0000ff; font-weight: bold">分销分析</a>
        <a href="" style="color: #0000ff; font-weight: bold">库存分析</a>
    </div>
</body>
</html>