<!DOCTYPE html>
<html>
<head>
    <title>收货主页</title>
</head>
<body style="text-align: center; background-color: #dcdcdc">
    <div style="margin: 50px auto">
        收货人：<span style="font-weight: bold; font-family: '微软雅黑', 'Segoe UI', san-serif; color: #ff0000">{{ receipt_name }}</span>
        公司代号：<span style="font-weight: bold; font-family: Arial, Helvetica, sans-serif; color: #ff0000; margin-right: 50px">{{ company_id }}</span>
        <a href="/report_exit" style="color: #8b4513">退出</a><br><br>
    </div>
    <div style="margin: 100px auto">
        <a href="/report_code" style="color: #0000ff; font-weight: bold">缺货上报</a>
        <a href="/report_box" style="color: #0000ff; font-weight: bold">缺箱上报</a>
        <a href="/report_load" style="color: #0000ff; font-weight: bold">上报撤销</a>
    </div>
</body>
</html>