<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="/static/js/validate.js"></script>
    <title>缺货上报</title>
</head>
<body style="text-align: center; background-color: #dcdcdc">
    <form action="/manage/receive" method="post" onsubmit="return check(this)">
        {% raw xsrf_form_html() %}
        <input type="hidden" name="receipt_name" value="{{ receipt_name }}">
        <input type="hidden" name="company_id" value="{{ company_id }}">
        <div style="margin: 50px auto">
            收货人：<span style="font-weight: bold; font-family: '微软雅黑', 'Segoe UI', san-serif; color: #ff0000">{{ receipt_name }}</span>
            公司代号：<span style="font-weight: bold; font-family: Arial, Helvetica, sans-serif; color: #ff0000">{{ company_id }}</span><br><br>
        </div>
        <div style="margin: 20px auto">
            <label>运单号：<input type="text" id="text_1" name="transport_id"></label><span id="validate_1" style="color: #ff0000; font-size: 12px; font-style: italic; vertical-align: top"></span><br><br>
            <label>箱 号：<textarea id="text_2" name="barcode" cols="16" rows="3" style="vertical-align: top"></textarea></label><span id="validate_2" style="color: #ff0000; font-size: 12px; font-style: italic; vertical-align: top"></span>
        </div>
        <div>
            <input type="submit" value="提交">
            <input type="button" value="返回" onclick="javascript:location.href='/r_main'">
        </div>
    </form>
</body>
</html>