<!DOCTYPE html>
<html>
<head>
    <title>括苍系统</title>
</head>
<body style="text-align: center; background-color: #dcdcdc">
    <div style="margin: 50px auto; font-weight: bold; font-size: 32px; font-family: '微软雅黑', 'Segoe UI', san-serif; color: #2f4f4f">
        欢迎来到括苍系统...
    </div>
    <div style="margin: 100px auto; width: 500px; vertical-align: middle">
        <a href="/r_main">收货上报</a>
        <a href="/sale_main">销售激活</a>
        <a href="/security_main">防伪查询</a>
    </div>
</body>
</html>